html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #181a1b;
    color: #d3cfc9;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}