@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --background: #fafafa;
    --background-alt: #eee;
    --green: #a6d189;
    --orange: #ef9f76;
    --yellow: #eed49f;
    --purple: #ca9ee6;
    --blue: #0496dd;
    --blue-alt: #6281af;
    --red: #e68284;
    --pink: #ff6ca4;
    --white: #fff;
    --gray: #ccc;
    --gray-alt: #aaa;
    --font: #232634;
    --black: #000;
    --gradient-f1: linear-gradient(45deg, #dda6cd, #ffffff, #76f5fa);
}

@media (prefers-color-scheme: dark) {
:root {
    --background: #232634;
    --background-alt: #303446;
    --font: #f8f8f2;
    --font-alt: #ccc;
    --gray: rgba(255,255,255,0.3);
    --border: #3d3f52;
    --font-black: #282a36;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    background: var(--background);
    box-sizing: border-box;
    color: #d3cfc9;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    width: 14px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #15171b;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #187aec;
    border-radius: 20px;
    border: 3px solid #15171b;
}
